{% extends "layout.html" %}

{% block pageTitle %}
  Configure your grant
{% endblock %}

{% block beforeContent %}
  <a href="javascript:history.back()" class="govuk-back-link">Go Back</a>
{% endblock %}

{% block content %}

<p>{{ data.plan }}</p>

  <div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">

      <span class="govuk-caption-xl">{{ data.import.grants[data.prototype.grantNum].title }}</span>
      <h1 class="govuk-heading-xl">Configure your grant</h1>

      <form action="{{ thisPage }}" method="POST" role="form">

        <div class="govuk-form-group">
          <label class="govuk-label govuk-label--s" for="units">
            What is the size of your land in hectares (ha)
          </label>
          </h1>
          <input class="govuk-input govuk-input--width-5" id="units" name="units" type="text">
        </div>

        <input type="hidden" name="grantNum" value="{{ grantNum }}" />

        <button class="govuk-button" data-module="govuk-button">Continue</button>

        <p><a href="plan">Skip and add later</a></p>

      </form>

    </div>
  </div>

{% endblock %}
