{% extends "layout.html" %}

{% block pageTitle %}
{{ data.import.grants[data.prototype.grantNum].title }}
{% endblock %}

{% block beforeContent %}
  <a href="javascript:history.back()" class="govuk-back-link">Go Back</a>
{% endblock %}

{% block content %}

  <div class="govuk-grid-row">

    <div class="govuk-grid-column-two-thirds">

      <form action="{{ thisPage }}" method="POST" role="form">

        <h1 class="govuk-heading-xl">
          {{ data.import.grants[data.prototype.grantNum].title }}
        </h1>

        <p>{{ data.import.grants[grantNum].summary }}</p>

        <table class="govuk-table">
          <tbody class="govuk-table__body">
          <tr class="govuk-table__row">
            <td scope="row" class="govuk-table__cell">Grant type</td>
            <td class="govuk-table__cell">{{ data.import.grants[data.prototype.grantNum].type }}</td>
          </tr>
          <tr class="govuk-table__row">
            <td scope="row" class="govuk-table__cell">Land use</td>
            <td class="govuk-table__cell">{{ data.import.grants[data.prototype.grantNum].use }}</td>
          </tr>
          <tr class="govuk-table__row">
            <td scope="row" class="govuk-table__cell">Funding</td>
            <td class="govuk-table__cell">{{ data.import.grants[data.prototype.grantNum].payment }} {{ data.import.grants[data.prototype.grantNum].unit }}</td>
          </tr>
          </tbody>
        </table>

        <input type="hidden" name="grantNum" value="{{ data.prototype.grantNum }}">

        <button type="submit" class="govuk-button" name="grantNum" value="3">Add this grant to my plan</button>

        <p><a href="{{ data.import.grants[data.prototype.grantNum].url }}" target="_blank">Find out about eligibility and requirements for {{ data.import.grants[grantNum].title }}. (Opens in a new window)</a>.</p>

      </form>

    </div>

    <div class="govuk-grid-column-one-third">

      <div style="background-color: #f0f0f0; padding: 1.5em">
        <h3 class="govuk-heading-m">Related grants</h3>

        {% for i in range(0, 4) -%}
        <ul class="govuk-list--bullet">
          <li class=""><a href="grant-details?grant={{ i }}">{{ data.import.grants[i].code }} {{ data.import.grants[i].title }}</a></li>
        </ul>
        {%- endfor %}

      </div>

    </div>


  </div>

{% endblock %}
