{% extends "layout.html" %}

{% block pageTitle %}
  Information page
{% endblock %}

{% block beforeContent %}
  <a class="govuk-back-link" href="start">Back</a>
{% endblock %}

{% block content %}

  <div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">

      <h1 class="govuk-heading-xl">
        Information
      </h1>

      <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Ut vitae tortor ut metus venenatis consectetur. Suspendisse dapibus sem ac pulvinar interdum. Ut sed sem nec dui efficitur commodo facilisis nec lorem. Maecenas congue leo augue. Nunc dignissim sodales dui, sed pharetra velit..</p>

      <p>This paragraph has a link to <a href="/url/of/onward/page">find out more about this subject</a>.</p>

      <a href="grants" role="button" draggable="false" class="govuk-button"  data-module="govuk-button">Continue</a>

    </div>
  </div>


{% endblock %}
