{% extends "layout.html" %}

{% block pageTitle %}
  Task list
{% endblock %}

{% block beforeContent %}
  <a class="govuk-back-link" href="configure?planNum={{ planNum }}">Back</a>
{% endblock %}


{% block content %}

<p>{{ data.plan }}</p>

  <div class="govuk-grid-row">
    <div class="govuk-grid-column-full">
      <h1 class="govuk-heading-xl">
        Your plan
      </h1>

      {% if data.plan.length === completedCount %}
      <h2 class="govuk-heading-s govuk-!-margin-bottom-2">Application complete</h2>
      {% else %}
      <h2 class="govuk-heading-s govuk-!-margin-bottom-2">Application incomplete</h2>
      {% endif %}
      <p class="govuk-body govuk-!-margin-bottom-7">You have configured {{ completedCount}} of {{ data.plan.length }} grants.</p>

      <a href="search-results" class="govuk-button govuk-button--secondary" data-module="govuk-button">Add another</a>

      <ul class="app-task-list">
        <li>
          <h2 class="app-task-list__section govuk-!-margin-bottom-1">
            Options
          </h2>
          <p class="govuk-hint">Paid monthly</p>
          <table class="govuk-table">
            <tbody class="govuk-table__body">

            {% if grantList.length === 0 %}
            <tr class="govuk-table__row">
              <td scope="row" class="govuk-table__cell" colspan="2">No results found</td>
            </tr>
            {% else %}

            {% set optionCount = 0 %}
            {% set optionTotal = [] %}
            {% set optionSubtotal = 0 %}
            {% set optionSubtotalMonth = 0 %}

            {% set optionEndTotal = 0 %}
           
            {% for i in range(0, data.plan.length) -%}
                {% if data.plan[i][2] === 'Option' %}

                {% set optionTotal = (optionTotal.push(data.import.grants[data.plan[i][1]].payment * data.plan[i][3]), optionTotal) %}
                {% set optionSubtotal = optionSubtotal + optionTotal[optionCount] %}
                {% set optionSubtotalMonth = optionSubtotal / 12 %}

                  <tr class="govuk-table__row">
                    <td scope="row" class="govuk-table__cell">
                      <form action="{{ thisPage }}" method="POST" role="form">
                        <input type="hidden" name="planNum" value="{{ i }}" />
                        <button class="govuk-button" data-module="govuk-button">Delete</button>
                      </form>
                    </td>
                    <td scope="row" class="govuk-table__cell" style="width:50%">
                      <a href="configure?planNum={{ i }}">{{ data.import.grants[data.plan[i][1]].code }} {{ data.import.grants[data.plan[i][1]].title }}</a>
                    </td>
                    <td class="govuk-table__cell" style="text-align:right">{{ data.import.grants[data.plan[i][1]].payment | toMoney }} &times {{ data.plan[i][3] or 0 }}{{ data.import.grants[data.plan[i][1]].unit }} &equals;  {{ optionTotal[optionCount] | toMoney }}</td>
                    <td class="govuk-table__cell">
                      {% if data.plan[i][4] === true %}
                      {% set optionEndTotal = optionEndTotal + optionTotal[optionCount] %}
                      <strong class="govuk-tag app-task-list__tag" id="completion-status">Configured</strong>
                      {% else %}
                      <strong class="govuk-tag govuk-tag--blue app-task-list__tag" id="contact-details-status">Not configured</strong>
                      {% endif %}
                    </td>
                  </tr>
                {% set optionCount = optionCount +1 %}

                {% endif %}

              {%- endfor %}


            <tr class="govuk-table__row">
              <td scope="row" class="govuk-table__cell">&nbsp;</td>
              <td scope="row" class="govuk-table__cell" style="width:50%">&nbsp;</td>
              <td class="govuk-table__cell" style="text-align:right"><strong>Yearly payment &equals; {{ optionSubtotal | toMoney }}</strong><br><strong>12 Monthly payments of {{ optionSubtotalMonth | toMoney }}</strong></td>
              <td class="govuk-table__cell">&nbsp;
              </td>
            </tr>

            {% endif %}

            </tbody>
          </table>

        </li>

        <li>
          <h2 class="app-task-list__section govuk-!-margin-bottom-1">
           Capital items
          </h2>
          <p class="govuk-hint">One-off payment</p>

          <table class="govuk-table">
            <tbody class="govuk-table__body">

            {% if grantList.length === 0 %}
            <tr class="govuk-table__row">
              <td scope="row" class="govuk-table__cell" colspan="2">No results found</td>
            </tr>
            {% else %}

            {% set capitalCount = 0 %}
            {% set capitalTotal = [] %}
            {% set capitalSubtotal = 0 %}
            {% set capitalSubtotalMonth = 0 %}

            {% set capitalEndTotal = 0 %}

            {% for i in range(0, data.plan.length) -%}
              {% if data.plan[i][2] === 'Capital Item' %}

              {% set capitalTotal = (capitalTotal.push(data.import.grants[data.plan[i][1]].payment * data.plan[i][3]), capitalTotal) %}
              {% set capitalSubtotal = capitalSubtotal + capitalTotal[capitalCount] %}

              <tr class="govuk-table__row">
                <td scope="row" class="govuk-table__cell">
                  <form action="{{ thisPage }}" method="POST" role="form">
                    <input type="hidden" name="planNum" value="{{ i }}" />
                    <button class="govuk-button" data-module="govuk-button">Delete</button>
                  </form>
                </td>
                <td scope="row" class="govuk-table__cell" style="width:50%"><a href="configure?planNum={{ i }}">{{ data.import.grants[data.plan[i][1]].code }} {{ data.import.grants[data.plan[i][1]].title }}</a></td>
                <td class="govuk-table__cell" style="text-align:right">{{ data.import.grants[data.plan[i][1]].payment | toMoney }} &times {{ data.plan[i][3] or 0 }}{{ data.import.grants[data.plan[i][1]].unit }} &equals; {{ capitalTotal[capitalCount] | toMoney }}</td>
                <td class="govuk-table__cell">
                  {% if data.plan[i][4] === true %}
                  {% set capitalEndTotal = capitalEndTotal + capitalTotal[i] %}
                  <strong class="govuk-tag app-task-list__tag" id="completion-status">Completed</strong>
                  {% else %}
                  <strong class="govuk-tag govuk-tag--blue app-task-list__tag" id="contact-details-status">Not complete</strong>
                  {% endif %}
                </td>
              </tr>

              {% set capitalCount = capitalCount + 1 %}

            {% endif %}


            {%- endfor %}

            <tr class="govuk-table__row">
              <td scope="row" class="govuk-table__cell">&nbsp;</td>
              <td scope="row" class="govuk-table__cell" style="width:50%">&nbsp;</td>
              <td class="govuk-table__cell" style="text-align:right"><strong>One-off payment of {{ capitalSubtotal | toMoney }}</strong></td>
              <td class="govuk-table__cell">&nbsp;</td>
            </tr>

            {% endif %}

            </tbody>
          </table>
        </li>

        <li>
          <h2 class="app-task-list__section">
            Supplements
          </h2>

          <table class="govuk-table">
            <tbody class="govuk-table__body">

            {% if grantList.length === 0 %}
            <tr class="govuk-table__row">
              <td scope="row" class="govuk-table__cell" colspan="2">No results found</td>
            </tr>
            {% else %}

            {% set supplementCount = 0 %}
            {% set supplementTotal = [] %}
            {% set supplementSubtotal = 0 %}
            {% set supplementSubtotalMonth = 0 %}

            {% set supplementEndTotal = 0 %}

            {% for i in range(0, data.plan.length) -%}
              {% if data.plan[i][2] === 'Supplement' %}

              {% set supplementTotal = (supplementTotal.push(data.import.grants[data.plan[i][1]].payment * data.plan[i][3]), supplementTotal) %}
              {% set supplementSubtotal = supplementSubtotal + supplementTotal[supplementCount] %}


            <tr class="govuk-table__row">
              <td scope="row" class="govuk-table__cell">
                <form action="{{ thisPage }}" method="POST" role="form">
                  <input type="hidden" name="planNum" value="{{ i }}" />
                  <button class="govuk-button" data-module="govuk-button">Delete</button>
                </form>
              </td>
              <td scope="row" class="govuk-table__cell" style="width:50%"><a href="configure?planNum={{ i }}">{{ data.import.grants[data.plan[i][1]].code }} {{ data.import.grants[data.plan[i][1]].title }}</a></td>
              <td class="govuk-table__cell" style="text-align:right">{{ data.import.grants[data.plan[i][1]].payment | toMoney }} &times {{ data.plan[i][3] or 0 }}{{ data.import.grants[data.plan[i][1]].unit }} &equals; {{ supplementTotal[supplementCount] | toMoney }}</td>
              <td class="govuk-table__cell">
                {% if data.plan[i][4] === true %}
                {% set supplementEndTotal = supplementEndTotal + supplementTotal[i] %}
                <strong class="govuk-tag app-task-list__tag" id="completion-status">Completed</strong>
                {% else %}
                <strong class="govuk-tag govuk-tag--blue app-task-list__tag" id="contact-details-status">Not complete</strong>
                {% endif %}
              </td>
            </tr>

            {% set supplementCount = supplementCount + 1 %}

            {% endif %}
            {%- endfor %}

            {% set supplementSubtotalMonth = supplementSubtotal / 12 %}

            <tr class="govuk-table__row">
              <td scope="row" class="govuk-table__cell">&nbsp;</td>
              <td scope="row" class="govuk-table__cell" style="width:50%">&nbsp;</td>
              <td class="govuk-table__cell" style="text-align:right"><strong>Yearly payment &equals; {{ supplementSubtotal | toMoney }}</strong><br><strong>12 Monthly payments of {{ supplementSubtotalMonth | toMoney }}</strong></td>
              <td class="govuk-table__cell">&nbsp;</td>
            </tr>

            {% endif %}
            <tr>
              <td>&nbsp;</td>
            </tr>
            <tr>
              <td scope="row" class="govuk-table__cell">&nbsp;</td>
              <td scope="row" class="govuk-table__cell" style="width:50%">&nbsp;</td>
              <td class="govuk-table__cell" style="text-align:right"><button class="govuk-button govuk-button--secondary" data-module="govuk-button">Download Plan</button></td>
              <td class="govuk-table__cell">&nbsp;</td>
            </tr>
            </tbody>
          </table>
        </li>
      </ul>
    </div>
  </div>

{% endblock %}
