{% extends "layout.html" %}

{% block pageTitle %}
  Task list
{% endblock %}

{% block beforeContent %}
  <a class="govuk-back-link" href="configure?planNum={{ planNum }}">Back</a>
{% endblock %}


{% block content %}

<!--<p>{{ data.plan }}</p>-->

  <div class="govuk-grid-row">
    <div class="govuk-grid-column-full">
      <h1 class="govuk-heading-xl">
        Your plan
      </h1>

      {% if data.plan.length === completedCount %}
      <h2 class="govuk-heading-s govuk-!-margin-bottom-2">Application complete</h2>
      {% else %}
      <h2 class="govuk-heading-s govuk-!-margin-bottom-2">Application incomplete</h2>
      {% endif %}
      <p class="govuk-body govuk-!-margin-bottom-7">You have configured {{ completedCount}} of {{ data.plan.length }} grants.</p>

      <ul class="app-task-list">
        <li>
          <h2 class="app-task-list__section govuk-!-margin-bottom-1">
            Options
          </h2>
          <p class="govuk-hint">Paid monthly</p>
          <table class="govuk-table">
            <tbody class="govuk-table__body">

            {% if grantList.length === 0 %}
            <tr class="govuk-table__row">
              <td scope="row" class="govuk-table__cell" colspan="2">No results found</td>
            </tr>
            {% else %}

            {% set optionTotal = [] %}
            {% set optionSubtotal = 0 %}
            {% set optionSubtotalMonth = 0 %}

            {% set optionEndTotal = 0 %}


            {% for i in range(0, data.plan.length) -%}
                {% if data.plan[i][2] === 'Option' %}

                {% set optionTotal = (optionTotal.push(data.import.grants[data.plan[i][1]].payment * data.plan[i][3]), optionTotal) %}
                {% set optionSubtotal = optionSubtotal + optionTotal[i] %}
                {% set optionSubtotalMonth = optionSubtotal / 12 %}

                  <tr class="govuk-table__row">
                    <td scope="row" class="govuk-table__cell" style="width:50%"><a href="configure?planNum={{ i }}">{{ data.import.grants[data.plan[i][1]].code }} {{ data.import.grants[data.plan[i][1]].title }}</a></td>
                    <td class="govuk-table__cell" style="text-align:right">{{ data.import.grants[data.plan[i][1]].payment | toMoney }} &times {{ data.plan[i][3] or 0 }}{{ data.import.grants[data.plan[i][1]].unit }} &equals;  {{ optionTotal[i] | toMoney }} i={{i}}</td>
                    <td class="govuk-table__cell">
                      {% if data.plan[i][4] === true %}
                      {% set optionEndTotal = optionEndTotal + optionTotal[i] %}
                      <strong class="govuk-tag app-task-list__tag" id="completion-status">Configured</strong>
                      {% else %}
                      <strong class="govuk-tag govuk-tag--blue app-task-list__tag" id="contact-details-status">Not configured</strong>
                      {% endif %}
                    </td>
                  </tr>

                {% endif %}
              {%- endfor %}

            <p>optionTotal {{ optionTotal }}</p>

            <tr class="govuk-table__row">
              <td scope="row" class="govuk-table__cell" style="width:50%">&nbsp;</td>
              <td class="govuk-table__cell" style="text-align:right"><strong>Yearly payment &equals; {{ optionSubtotal | toMoney }}</strong><br><strong>12 Monthly payments of {{ optionEndTotal | toMoney }}</strong></td>
              <td class="govuk-table__cell">&nbsp;
              </td>
            </tr>

            {% endif %}

            </tbody>
          </table>

          <a href="search-results" class="govuk-button govuk-button--secondary" data-module="govuk-button">Add another</a>
        </li>

        <li>
          <h2 class="app-task-list__section govuk-!-margin-bottom-1">
           Capital items
          </h2>
          <p class="govuk-hint">One-off payment</p>
          <table class="govuk-table">
            <tbody class="govuk-table__body">

            {% if grantList.length === 0 %}
              <tr class="govuk-table__row">
                <td scope="row" class="govuk-table__cell" colspan="2">No results found</td>
              </tr>
              {% else %}

              {% set capitalTotal = [] %}
              {% set capitalSubtotal = 0 %}
              {% set capitalSubtotalMonth = 0 %}

              {% set capitalEndTotal = 0 %}

              {% for c in range(0, data.plan.length) -%}
                {% if data.plan[c][2] === 'Capital Item' %}
                  
                  {% set capitalTotal = (capitalTotal.push(data.import.grants[data.plan[c][1]].payment * data.plan[c][3]), capitalTotal) %}
                  
                  {% set capitalSubtotal = capitalSubtotal + capitalTotal[c] %}
                  {% set capitalSubtotalMonth = capitalSubtotal / 12 %}

                  <tr class="govuk-table__row">
                    <td scope="row" class="govuk-table__cell" style="width:50%"><a href="configure?planNum={{ c }}">{{ data.import.grants[data.plan[c][1]].code }} {{ data.import.grants[data.plan[c][1]].title }}</a></td>

                    <td class="govuk-table__cell" style="text-align:right">{{ data.import.grants[data.plan[c][1]].payment | toMoney }} &times {{ data.plan[c][3] or 0 }}{{ data.import.grants[data.plan[c][1]].unit }} &equals;  {{ capitalTotal[c] }} c={{c}}</td>
                    <td class="govuk-table__cell">
                      {% if data.plan[c][4] === true %}
                      <strong class="govuk-tag app-task-list__tag" id="completion-status">Configured</strong>
                      {% else %}
                      <strong class="govuk-tag govuk-tag--blue app-task-list__tag" id="contact-details-status">Not configured</strong>
                      {% endif %}
                    </td>
                  </tr>
                {% endif %}
              {% endfor %}

                <p>capitalTotal {{ capitalTotal }}</p>

                <tr class="govuk-table__row">
                  <td scope="row" class="govuk-table__cell" style="width:50%">&nbsp;</td>
                  <td class="govuk-table__cell" style="text-align:right"><strong>Yearly payment &equals; {{ capitalSubtotal | toMoney }}</strong><br><strong>12 Monthly payments of {{ capitalEndTotal | toMoney }}</strong></td>
                  <td class="govuk-table__cell">&nbsp;
                  </td>
                </tr>
            {% endif %}

            </tbody>
          </table>
        </li>

        <li>
          <h2 class="app-task-list__section">
            Supplements
          </h2>

          <table class="govuk-table">
            <tbody class="govuk-table__body">

            {% if grantList.length === 0 %}
            <tr class="govuk-table__row">
              <td scope="row" class="govuk-table__cell" colspan="2">No results found</td>
            </tr>
            {% else %}

            {% for i in range(0, data.plan.length) -%}
            {% if data.plan[i][2] === 'Supplement' %}

            <tr class="govuk-table__row">
              <td scope="row" class="govuk-table__cell" style="width:50%"><a href="configure?planNum={{ i }}">{{ data.import.grants[data.plan[i][1]].code }} {{ data.import.grants[data.plan[i][1]].title }}</a></td>
              <td class="govuk-table__cell" style="text-align:right">{{ data.import.grants[data.plan[i][1]].payment }}</td>
              <td class="govuk-table__cell">
                {% if data.plan[i][4] === true %}
                <strong class="govuk-tag app-task-list__tag" id="completion-status">Completed</strong>
                {% else %}
                <strong class="govuk-tag govuk-tag--blue app-task-list__tag" id="contact-details-status">Not complete</strong>
                {% endif %}
              </td>
            </tr>

            {% endif %}
            {%- endfor %}

            {% endif %}

            </tbody>
          </table>
        </li>
      </ul>
    </div>
  </div>

{% endblock %}
