{% extends "layout.html" %}

{% block pageTitle %}
  Task list
{% endblock %}

{% block beforeContent %}
  <a class="govuk-back-link" href="configure?planNum={{ planNum }}">Back</a>
{% endblock %}


{% block content %}

<p>{{ data.plan }}</p>

  <div class="govuk-grid-row">
    <div class="govuk-grid-column-full">
      <h1 class="govuk-heading-xl">
        Your plan
      </h1>

      {% if data.plan.length === completedCount %}
      <h2 class="govuk-heading-s govuk-!-margin-bottom-2">Application complete</h2>
      {% else %}
      <h2 class="govuk-heading-s govuk-!-margin-bottom-2">Application incomplete</h2>
      {% endif %}
      <p class="govuk-body govuk-!-margin-bottom-7">You have completed {{ completedCount}} of {{ data.plan.length }} sections.</p>

      <ul class="app-task-list">
        <li>
          <h2 class="app-task-list__section govuk-!-margin-bottom-1">
            Options
          </h2>
          <p class="govuk-hint">Paid monthly</p>
          <table class="govuk-table">
            <tbody class="govuk-table__body">

            {% if grantList.length === 0 %}
            <tr class="govuk-table__row">
              <td scope="row" class="govuk-table__cell" colspan="2">No results found</td>
            </tr>
            {% else %}

              {% for i in range(0, data.plan.length) -%}
                {% if data.plan[i][2] === 'Option' %}

                {% set total = data.import.grants[data.plan[i][1]].payment * data.plan[i][3] %}{{ total[i] }}

                  <tr class="govuk-table__row">
                    <td scope="row" class="govuk-table__cell" style="width:50%"><a href="configure?planNum={{ i }}">{{ data.import.grants[data.plan[i][1]].code }} {{ data.import.grants[data.plan[i][1]].title }}</a></td>
                    <td class="govuk-table__cell" style="text-align:right">&pound;{{ data.import.grants[data.plan[i][1]].payment }} &times {{ data.plan[i][3] }} &equals; &pound;{{ total | toMoney }}</td>
                    <td class="govuk-table__cell">
                      {% if data.plan[i][4] === true %}
                      <strong class="govuk-tag app-task-list__tag" id="completion-status">Completed</strong>
                      {% else %}
                      <strong class="govuk-tag govuk-tag--blue app-task-list__tag" id="contact-details-status">Not complete</strong>
                      {% endif %}
                    </td>
                  </tr>

                {% endif %}
              {%- endfor %}

            {% endif %}

            </tbody>
          </table>

          <a href="search-results" class="govuk-button govuk-button--secondary" data-module="govuk-button">Add another</a>
        </li>

        <li>
          <h2 class="app-task-list__section govuk-!-margin-bottom-1">
           Capital items
          </h2>
          <p class="govuk-hint">One-off payment</p>
          <table class="govuk-table">
            <tbody class="govuk-table__body">

            {% if grantList.length === 0 %}
            <tr class="govuk-table__row">
              <td scope="row" class="govuk-table__cell" colspan="2">No results found</td>
            </tr>
            {% else %}

            {% for i in range(0, data.plan.length) -%}
            {% if data.plan[i][2] === 'Capital Item' %}

            <tr class="govuk-table__row">
              <td scope="row" class="govuk-table__cell" style="width:50%"><a href="configure?planNum={{ i }}">{{ data.import.grants[data.plan[i][1]].code }} {{ data.import.grants[data.plan[i][1]].title }}</a></td>
              <td class="govuk-table__cell" style="text-align:right">{{ data.import.grants[data.plan[i][1]].payment }}</td>
              <td class="govuk-table__cell">
                {% if data.plan[i][4] === true %}
                <strong class="govuk-tag app-task-list__tag" id="completion-status">Completed</strong>
                {% else %}
                <strong class="govuk-tag govuk-tag--blue app-task-list__tag" id="contact-details-status">Not complete</strong>
                {% endif %}
              </td>
            </tr>

            {% endif %}
            {%- endfor %}

            {% endif %}

            </tbody>
          </table>
        </li>

        <li>
          <h2 class="app-task-list__section">
            Supplements
          </h2>

          <table class="govuk-table">
            <tbody class="govuk-table__body">

            {% if grantList.length === 0 %}
            <tr class="govuk-table__row">
              <td scope="row" class="govuk-table__cell" colspan="2">No results found</td>
            </tr>
            {% else %}

            {% for i in range(0, data.plan.length) -%}
            {% if data.plan[i][2] === 'Supplement' %}

            <tr class="govuk-table__row">
              <td scope="row" class="govuk-table__cell" style="width:50%"><a href="configure?planNum={{ i }}">{{ data.import.grants[data.plan[i][1]].code }} {{ data.import.grants[data.plan[i][1]].title }}</a></td>
              <td class="govuk-table__cell" style="text-align:right">{{ data.import.grants[data.plan[i][1]].payment }}</td>
              <td class="govuk-table__cell">
                {% if data.plan[i][4] === true %}
                <strong class="govuk-tag app-task-list__tag" id="completion-status">Completed</strong>
                {% else %}
                <strong class="govuk-tag govuk-tag--blue app-task-list__tag" id="contact-details-status">Not complete</strong>
                {% endif %}
              </td>
            </tr>

            {% endif %}
            {%- endfor %}

            {% endif %}

            </tbody>
          </table>
        </li>
      </ul>
    </div>
  </div>

{% endblock %}
