{% extends "layout.html" %}

{% block pageTitle %}
What is your land used for?
{% endblock %}

{% block header %}
{{ govukHeader({
homepageUrl: "/",
serviceName: serviceName,
serviceUrl: "/",
containerClasses: "govuk-width-container"
}) }}
{% endblock %}


{% block beforeContent %}
  <a class="govuk-back-link" href="location">Back</a>
{% endblock %}

{% block content %}

  <div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">

      <form action="{{ thisPage }}" method="post" class="form">

        <div class="govuk-form-group">
          <fieldset class="govuk-fieldset"  aria-describedby="landuse-hint">

            <legend class="govuk-fieldset__legend govuk-fieldset__legend--xl">
              <h1 class="govuk-fieldset__heading">
                What is your land used for?
              </h1>
            </legend>

            <div id="landuse-hint" class="govuk-hint">
              Select all that apply.
            </div>

            <div class="govuk-checkboxes">
              <div class="govuk-checkboxes__item">
                <input class="govuk-checkboxes__input" id="landuse-1" name="landuse" type="checkbox" value="Air quality" {{ checked("landuse", "Air quality") }}>
                <label class="govuk-label govuk-checkboxes__label" for="landuse-1">
                  Air quality
                </label>
              </div>
              <div class="govuk-checkboxes__item">
                <input class="govuk-checkboxes__input" id="landuse-2" name="landuse" type="checkbox" value="Arable land" {{ checked("landuse", "Arable land") }}>
                <label class="govuk-label govuk-checkboxes__label" for="landuse-2">
                  Arable land
                </label>
              </div>
              <div class="govuk-checkboxes__item">
                <input class="govuk-checkboxes__input" id="landuse-3" name="landuse" type="checkbox" value="Boundaries" {{ checked("landuse", "Boundaries") }}>
                <label class="govuk-label govuk-checkboxes__label" for="landuse-3">
                  Boundaries
                </label>
              </div>
              <div class="govuk-checkboxes__item">
                <input class="govuk-checkboxes__input" id="landuse-4" name="landuse" type="checkbox" value="Coast" {{ checked("landuse", "Coast") }}>
                <label class="govuk-label govuk-checkboxes__label" for="landuse-4">
                  Coast
                </label>
              </div>
              <div class="govuk-checkboxes__item">
                <input class="govuk-checkboxes__input" id="landuse-5" name="landuse" type="checkbox" value="Educational access" {{ checked("landuse", "Educational access") }}>
                <label class="govuk-label govuk-checkboxes__label" for="landuse-5">
                  Educational access
                </label>
              </div>
              <div class="govuk-checkboxes__item">
                <input class="govuk-checkboxes__input" id="landuse-6" name="landuse" type="checkbox" value="Flood risk" {{ checked("landuse", "Flood risk") }}>
                <label class="govuk-label govuk-checkboxes__label" for="landuse-6">
                  Flood risk
                </label>
              </div>
              <div class="govuk-checkboxes__item">
                <input class="govuk-checkboxes__input" id="landuse-7" name="landuse" type="checkbox" value="Grassland" {{ checked("landuse", "Grassland") }}>
                <label class="govuk-label govuk-checkboxes__label" for="landuse-7">
                  Grassland
                </label>
              </div>
              <div class="govuk-checkboxes__item">
                <input class="govuk-checkboxes__input" id="landuse-8" name="landuse" type="checkbox" value="Historic environment" {{ checked("landuse", "Historic environment") }}>
                <label class="govuk-label govuk-checkboxes__label" for="landuse-8">
                  Historic environment
                </label>
              </div>
              <div class="govuk-checkboxes__item">
                <input class="govuk-checkboxes__input" id="landuse-9" name="landuse" type="checkbox" value="Livestock management" {{ checked("landuse", "Livestock management") }}>
                <label class="govuk-label govuk-checkboxes__label" for="landuse-9">
                  Livestock management
                </label>
              </div>
              <div class="govuk-checkboxes__item">
                <input class="govuk-checkboxes__input" id="landuse-10" name="landuse" type="checkbox" value="Organic land" {{ checked("landuse", "Organic land") }}>
                <label class="govuk-label govuk-checkboxes__label" for="landuse-10">
                  Organic land
                </label>
              </div>
               <div class="govuk-checkboxes__item">
                <input class="govuk-checkboxes__input" id="landuse-16" name="landuse" type="checkbox" value="Pollinators and wildlife" {{ checked("landuse", "Pollinators and wildlife") }}>
                <label class="govuk-label govuk-checkboxes__label" for="landuse-16">
                  Pollinators and wildlife
                </label>
              </div>
              <div class="govuk-checkboxes__item">
                <input class="govuk-checkboxes__input" id="landuse-11" name="landuse" type="checkbox" value="Priority habitats" {{ checked("landuse", "Priority habitats") }}>
                <label class="govuk-label govuk-checkboxes__label" for="landuse-11">
                  Priority habitats
                </label>
              </div>
              <div class="govuk-checkboxes__item">
                <input class="govuk-checkboxes__input" id="landuse-12" name="landuse" type="checkbox" value="Trees (non-woodland)" {{ checked("landuse", "Trees (non-woodland)") }}>
                <label class="govuk-label govuk-checkboxes__label" for="landuse-12">
                  Trees (non-woodland)
                </label>
              </div>
              <div class="govuk-checkboxes__item">
                <input class="govuk-checkboxes__input" id="landuse-13" name="landuse" type="checkbox" value="Uplands" {{ checked("landuse", "Uplands") }}>
                <label class="govuk-label govuk-checkboxes__label" for="landuse-13">
                  Uplands
                </label>
              </div>
              <div class="govuk-checkboxes__item">
                <input class="govuk-checkboxes__input" id="landuse-14" name="landuse" type="checkbox" value="Vegetation control" {{ checked("landuse", "Vegetation control") }}>
                <label class="govuk-label govuk-checkboxes__label" for="landuse-14">
                  Vegetation control
                </label>
              </div>
              <div class="govuk-checkboxes__item">
                <input class="govuk-checkboxes__input" id="landuse-15" name="landuse" type="checkbox" value="Water quality" {{ checked("landuse", "Water quality") }}>
                <label class="govuk-label govuk-checkboxes__label" for="landuse-15">
                  Water quality
                </label>
              </div>
              <div class="govuk-checkboxes__item">
                <input class="govuk-checkboxes__input" id="landuse-17" name="landuse" type="checkbox" value="Woodland" {{ checked("landuse", "Woodland") }}>
                <label class="govuk-label govuk-checkboxes__label" for="landuse-17">
                  Woodland
                </label>
              </div>
            </div>

          </fieldset>
        </div>

        <button class="govuk-button" data-module="govuk-button">Continue</button>

      </form>

    </div>
  </div>
{% endblock %}
