{% extends "layout.html" %}

{% block pageTitle %}
You have added {{ data.import.grants[data.prototype.grantNum].code }} {{ data.import.grants[data.prototype.grantNum].title }} to your plan
{% endblock %}

{% block header %}
{% include "includes/cookie-banner.html" %}
{# Set serviceName in config.js. #}
{{ govukHeader({
homepageUrl: "/",
serviceName: serviceName,
serviceUrl: "/",
classes: "app-light-header",
containerClasses: "govuk-width-container",
navigation: []
}) }}

<div class="moj-primary-navigation">

  <div class="moj-primary-navigation__container">

    <div class="moj-primary-navigation__nav">

      <nav class="moj-primary-navigation" aria-label="Primary navigation">

        <ul class="moj-primary-navigation__list">
          <li class="moj-primary-navigation__item">
            <a class="moj-primary-navigation__link" href="grants">Home</a>
          </li>

          <li class="moj-primary-navigation__item">
            <a class="moj-primary-navigation__link" href="local-priorities">Your local priorities</a>
          </li>

          <li class="moj-primary-navigation__item">
            <a class="moj-primary-navigation__link" href="plan">Your plan</a>
          </li>

          <li class="moj-primary-navigation__item">
            <a class="moj-primary-navigation__link" href="search-results">Search all grants</a>
          </li>

        </ul>

      </nav>

    </div>
    <div class="moj-primary-navigation__search">

    </div>
  </div>

</div>
{% endblock %}

{% block beforeContent %}
  <a href="javascript:history.back()" class="govuk-back-link">Back</a>
{% endblock %}

{% block content %}

<style type="text/css">
  .govuk-grid-column-full {
    position: relative;
  }
  #summaryToggle {
    /*float: right;*/
    position: absolute;
    right: 15px;
    top: -30px;
  }
  #summaryToggle .govuk-accordion__icon {
    position: absolute;
    top: 50%;
    left: -20px;
    width: 12px;
    height: 12px;
    margin-top: -6px;
  }
  #summaryToggle .govuk-accordion__icon.hidden::after {
    height: 0% !important;
  }
  #summaryToggle .govuk-accordion__icon::before,
  #summaryToggle .govuk-accordion__icon::after {
    border: 1px solid transparent !important;
  }
  #summaryToggle .govuk-accordion__icon:after {
    height: 100% !important;
  }
</style>

  <div class="govuk-grid-row">

    <div class="govuk-grid-column-two-thirds">


      {% from "govuk/components/notification-banner/macro.njk" import govukNotificationBanner %}

      {% set html %}
      <p class="govuk-notification-banner__heading">
        You have added {{ data.import.grants[data.prototype.grantNum].code }}  {{ data.import.grants[data.prototype.grantNum].title }} to your plan.
        <a class="govuk-notification-banner__link" href="plan">View your plan</a>
      {% endset %}

      {{ govukNotificationBanner({
      html: html,
      titleHtml: 'Success',
      classes: 'govuk-!-margin-top-0'
      }) }}

    </div>

  </div>

  {% if relationshipType %}
    <h2 class="govuk-heading-m govuk-!-margin-bottom-6">{{ relationshipType }}</h2>
  {% endif %}

  {% for r in range(0, relationship.length) -%}
    <p><a href="grant-details?grant={{ relationship[r].index }}">{{ relationship[r].code }} {{ relationship[r].title }}</a></p>
  {%- endfor %}
  </p>

<div class="govuk-grid-row">

  <div class="govuk-grid-column-two-thirds" style="position: relative">

    <h2 class="govuk-heading-m govuk-!-margin-bottom-6">There are {{ relatedList.length }} available grants related to {{ data.import.grants[data.prototype.grantNum].code }}  {{ data.import.grants[data.prototype.grantNum].title }}</h2>

  </div>
</div>

<div class="govuk-grid-row">

  <div class="govuk-grid-column-full" style="position: relative">
    <div class="govuk-!-padding-top-10" style="position: relative;">
      <div id="summaryToggle" class=""><a href="#">Show grant details</a><span class="govuk-accordion__icon"></span></div>
    </div>

    <table class="govuk-table">

      <thead class="govuk-table__head">
      <tr class="govuk-table__row">
        <th scope="col" class="govuk-table__header">Grant name</th>
        <th scope="col" class="govuk-table__header" style="width: 150px;">Type</th>
      </tr>
      </thead>

      <tbody class="govuk-table__body">

    {% for i in range(0, relatedList.length) -%}
    <tr class="govuk-table__row">
      <td class="govuk-table__cell">
        <a href="grant-details?grant={{ relatedList[i] }}">{{ data.import.grants[relatedList[i]].code }} {{ data.import.grants[relatedList[i]].title }}</a>
        {% if data.import.grants[relatedList[i]].priority %}<span class="govuk-tag--orange" style="font-size: 0.8em;">Local priority</span>{% endif %}
        <div class="grantSummary govuk-!-margin-4" style="display: none;margin-top: 20px;margin-bottom: 20px;">{{ data.import.grants[relatedList[i]].summary | nl2br | safe }}</div>
        <div class="grantSummary govuk-!-margin-4" style="display: none;margin-top: 20px;margin-bottom: 20px;"><strong>Funding: </strong>{{ data.import.grants[relatedList[i]].payment | toMoney }} per {{ data.import.grants[relatedList[i]].measure }}</div>
        <div class="grantSummary govuk-!-margin-4" style="display: none;margin-top: 20px;margin-bottom: 20px;"><strong>Related environmental benefits: </strong>{{ data.import.grants[relatedList[i]].packages }}</div>
      </td>
      <td class="govuk-table__cell">{{ data.import.grants[relatedList[i]].type }}</td>
    </tr>
    {%- endfor %}

    </tbody>
    </table>

  </div>

</div>

{% endblock %}
