{% extends "layout.html" %}

{% block pageTitle %}
    Available grants/actions/components
{% endblock %}

{% block header %}
{% include "includes/cookie-banner.html" %}
{# Set serviceName in config.js. #}
{{ govukHeader({
homepageUrl: "/",
serviceName: serviceName,
serviceUrl: "/",
classes: "app-light-header",
containerClasses: "govuk-width-container",
navigation: []
}) }}

<div class="moj-primary-navigation">

  <div class="moj-primary-navigation__container">

    <div class="moj-primary-navigation__nav">

      <nav class="moj-primary-navigation" aria-label="Primary navigation">

        <ul class="moj-primary-navigation__list">
          <li class="moj-primary-navigation__item">
            <a class="moj-primary-navigation__link" aria-current="page" href="grants">Home</a>
          </li>

          <li class="moj-primary-navigation__item">
            <a class="moj-primary-navigation__link" href="local-priorities">Your local priorities</a>
          </li>

          <li class="moj-primary-navigation__item">
            <a class="moj-primary-navigation__link" href="plan">Your plan</a>
          </li>

          <li class="moj-primary-navigation__item">
            <a class="moj-primary-navigation__link" href="search-results">Search all grants</a>
          </li>

        </ul>

      </nav>

    </div>
    <div class="moj-primary-navigation__search">

    </div>
  </div>

</div>
{% endblock %}


{% block beforeContent %}
  <a class="govuk-back-link" href="land-use">Back</a>
{% endblock %}

{% block content %}

  <div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">

      <h1 class="govuk-heading-xl">
        Available grants
      </h1>

      <p>Based on your location and land use, these are the highest scoring management options and capital items.</p>

      <p>Adding Local Priority items will score your application higher, as they offer greater benefit to the environment.</p>

      <p class="govuk-!-margin-bottom-9"><a href="land-use">Change your land use</a></p>

    </div>
  </div>

<div class="govuk-grid-row">

  <div class="govuk-grid-column-one-half">
    <div style="background-color: #f0f0f0; padding: 1.5em 1.5em 0 1.5em">
      <h3 class="govuk-heading-m">Local priorities</h3>
      <p class="govuk-body">We have found:
        <span class="govuk-!-font-size-36 govuk-!-font-weight-bold govuk-!-margin-top-2 govuk-!-margin-bottom-2" style="display: block;">{{ priorityCount }}</span>
        <span class="govuk-body">local priorities</span>
      </p>
      <a href="local-priorities" role="button" draggable="false" class="govuk-button  govuk-!-margin-top-2 govuk-!-margin-bottom-8"  data-module="govuk-button">See your local priorities</a>
    </div>
  </div>

  <div class="govuk-grid-column-one-half">
    <div style="background-color: #f0f0f0; padding: 1.5em 1.5em 0 1.5em">
      <h3 class="govuk-heading-m">Grants</h3>
      <p class="govuk-body">We have found:
        <span class="govuk-!-font-size-36 govuk-!-font-weight-bold govuk-!-margin-top-2 govuk-!-margin-bottom-2" style="display: block;">{{ grantCount }}</span>
        <span class="govuk-body">management options and capital items</span>
      </p>
      <a href="search-results" role="button" draggable="false" class="govuk-button  govuk-!-margin-top-2 govuk-!-margin-bottom-8"  data-module="govuk-button">Search all eligible grants</a>
    </div>
  </div>

</div>

{% endblock %}
