
{% extends "layout.html" %}

{% block pageTitle %}
Defra - Local Nature Recovery prototypes
{% endblock %}

{% block content %}

<div class="govuk-grid-row">
  <div class="govuk-grid-column-full">

    <h1 class="govuk-heading-l">Local Nature Recovery prototypes</h1>

<h2 class="govuk-heading-m">Option choice architecture</h2>
<p>Choice architecture is the design of different ways in which choices can be presented to users, and the impact of that presentation on user decision-making. In the context of Environmental Land Management, this means the way in which we present the actions which we will pay for to potential applicants.</p>


  <div class="govuk-grid-column-one-third">
    <strong class="govuk-tag govuk-tag--orange govuk-!-margin-top-0 govuk-!-margin-bottom-2" style="font-size: 11px;">In design</strong>
    <h3 class="govuk-heading-s">Option A</h3>
    <p class="govuk-body">Show land owner full list and allow filtering</p>
    <ul class="govuk-list govuk-list--bullet">
      <li>
        <a href="/options-choice/v1/a/index">Start page</a>
      </li>
    </ul>
  </div>

    <div class="govuk-grid-column-one-third">
      <strong class="govuk-tag govuk-tag--orange govuk-!-margin-top-0 govuk-!-margin-bottom-2" style="font-size: 11px;">In design</strong>
      <h3 class="govuk-heading-s">Option B</h3>
      <p class="govuk-body">Options are pre-filtered and prioritised based in triage questions</p>
      <ul class="govuk-list govuk-list--bullet">
        <li>
          <a href="/options-choice/v1/b/index">Start page</a>
        </li>
      </ul>
    </div>

</div>



  </div>
</div>

{% endblock %}
