
{% extends "layout.html" %}

{% block pageTitle %}
Defra - Local Nature Recovery prototypes
{% endblock %}

{% block content %}

<div class="govuk-grid-row">
  <div class="govuk-grid-column-full">

    <h1 class="govuk-heading-l">Local Nature Recovery prototypes</h1>

    <h2 class="govuk-heading-m">Option choice architecture</h2>
    <p>Choice architecture is the design of different ways in which choices can be presented to users, and the impact of that presentation on user decision-making. In the context of Environmental Land Management, this means the way in which we present the actions which we will pay for to potential applicants.</p>

  </div>
</div>

<div class="govuk-grid-row">

  <form action="{{ thisPage }}" method="POST" role="form">

      <div class="govuk-grid-column-one-third">
        <strong class="govuk-tag govuk-tag--orange govuk-!-margin-top-0 govuk-!-margin-bottom-2" style="font-size: 11px;">In design</strong>
        <h3 class="govuk-heading-s">Version A</h3>
        <p class="govuk-body">Show land owner full list and allow filtering</p>
        <button type="submit" class="govuk-button" name="version" value="options-choice/v1/a"><strong>See version A</strong></button>
      </div>

      <div class="govuk-grid-column-one-third">
        <strong class="govuk-tag govuk-tag--orange govuk-!-margin-top-0 govuk-!-margin-bottom-2" style="font-size: 11px;">In design</strong>
        <h3 class="govuk-heading-s">Version B</h3>
        <p class="govuk-body">Options are pre-filtered and prioritised based in triage questions</p>
        <button type="submit" class="govuk-button" name="version" value="options-choice/v1/b"><strong>See version B</strong></button>
      </div>

    </form>
  </div>
</div>

{% endblock %}
