
{% extends "layout.html" %}

{% block pageTitle %}
Defra - Local Nature Recovery prototypes
{% endblock %}

{% block header %}
{{ govukHeader({
homepageUrl: "/",
serviceName: "Defra Future Farming",
serviceUrl: "/",
containerClasses: "govuk-width-container"
}) }}
{% endblock %}

{% block content %}

<style type="text/css">

    .unstyle-button {
        display: inline-block;
        background: none!important;
        margin: 0;
        padding: 0;
        border: 0;
        padding: 0!important;
        top: 4px;
        box-sizing: none;
        font-family: "GDS Transport", Arial, sans-serif;
        font-size: 18px;
        color: #1d70b8;
        text-decoration: underline;
        box-shadow: none;
        cursor: pointer;
    }
    .unstyle-button:hover {
        color: #003078;
        text-decoration: underline;
    }

</style>


<div class="govuk-grid-row">
  <div class="govuk-grid-column-full">

    <h1 class="govuk-heading-l">Local Nature Recovery prototypes</h1>

    <h2 class="govuk-heading-m">Option choice architecture - Research - Round 3 &nbsp; <strong class="govuk-tag govuk-tag--red govuk-!-margin-top-0 govuk-!-margin-bottom-2" style="font-size: 11px;">In design</strong></h2>
    <p>Choice architecture is the design of different ways in which choices can be presented to users, and the impact of that presentation on user decision-making. In the context of Environmental Land Management, this means the way in which we present the actions which we will pay for to potential applicants.</p>

  </div>
</div>
<form action="{{ thisPage }}" method="POST" role="form">

    <div class="govuk-grid-row">

      <div class="govuk-grid-column-one-third">
        <h3 class="govuk-heading-s">Option A</h3>
        <p class="govuk-body">Show land owner full list and allow filtering</p>
        <button type="submit" class="govuk-button" name="version" value="options-choice/v3/a"><strong>See option A</strong></button>
      </div>

      <div class="govuk-grid-column-one-third">
        <h3 class="govuk-heading-s">Option B</h3>
        <p class="govuk-body">Options are pre-filtered and prioritised based on triage questions</p>
        <button type="submit" class="govuk-button" name="version" value="options-choice/v3/b"><strong>See option B</strong></button>
      </div>

    </div>

    <div class="govuk-grid-row">
        <details class="govuk-details" data-module="govuk-details">
            <summary class="govuk-details__summary">
                <span class="govuk-details__summary-text">
                  Other versions
                </span>
            </summary>
            <div class="govuk-details__text">

                <h2 class="govuk-heading-s">Option choice architecture - Research - Round 2 &nbsp; <strong class="govuk-tag govuk-tag--green govuk-!-margin-top-0 govuk-!-margin-bottom-0" style="font-size: 11px;">Research complete</strong></h2>

                <button class="govuk-button unstyle-button" name="version" value="options-choice/v2/a">See option A</button> &nbsp; | &nbsp; <button class="govuk-button unstyle-button" name="version" value="options-choice/v2/b">See option B</button>

                <hr class="govuk-!-margin-top-6 govuk-!-margin-bottom-6">

                <h2 class="govuk-heading-s">Option choice architecture - Research - Round 1 &nbsp; <strong class="govuk-tag govuk-tag--green govuk-!-margin-top-0 govuk-!-margin-bottom-0" style="font-size: 11px;">Research complete</strong></h2>

                <button class="govuk-button unstyle-button" name="version" value="options-choice/v3/a">See option A</button> &nbsp; | &nbsp; <button class="govuk-button unstyle-button" name="version" value="options-choice/v3/b">See option B</button>

            </div>
        </details>
    </div>
</form>

{% endblock %}
