{% extends "layout.html" %}

{% block pageTitle %}
    Available grants/actions/components
{% endblock %}

{% block header %}
{% include "includes/cookie-banner.html" %}
{# Set serviceName in config.js. #}
{{ govukHeader({
homepageUrl: "/",
serviceName: serviceName,
serviceUrl: "/",
classes: "app-light-header",
containerClasses: "govuk-width-container",
navigation: []
}) }}

<div class="moj-primary-navigation">

  <div class="moj-primary-navigation__container">

    <div class="moj-primary-navigation__nav">

      <nav class="moj-primary-navigation" aria-label="Primary navigation">

        <ul class="moj-primary-navigation__list">
          <li class="moj-primary-navigation__item">
            <a class="moj-primary-navigation__link" aria-current="page" href="grants">Home</a>
          </li>

          <li class="moj-primary-navigation__item">
            <a class="moj-primary-navigation__link" href="local-priorities">Your local priorities</a>
          </li>

          <li class="moj-primary-navigation__item">
            <a class="moj-primary-navigation__link" href="plan">Your plan</a>
          </li>

          <li class="moj-primary-navigation__item">
            <a class="moj-primary-navigation__link" href="search-results">Search all grants</a>
          </li>

        </ul>

      </nav>

    </div>
    <div class="moj-primary-navigation__search">

    </div>
  </div>

</div>
{% endblock %}


{% block beforeContent %}
  <a class="govuk-back-link" href="land-use">Back</a>
{% endblock %}

{% block content %}

  <div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">

      <h1 class="govuk-heading-xl">
        Available grants
      </h1>

      <p><a href="information">What is Local Nature Recovery for?</a></p>

      <p>Find options, supplements and capital items to include in your Local Nature Recovery grant application.</p>

      <p>Management options are multi-year grants. Most options last for 5 years, but some options can be 10 or 20 years long.</p>
      <p>Capital items are a range of grants for specific capital works or items. Work must be completed within 2 years.</p>

    </div>
  </div>

<div class="govuk-grid-row">

  <div class="govuk-grid-column-full">

    <h2 class="govuk-heading-l govuk-!-margin-top-6">Search and add grants</h2>

  </div>

  <div class="govuk-grid-column-one-third">
    <div style="background-color: #f0f0f0; padding: 1.5em">
      <h3 class="govuk-heading-m">Options</h3>
      <p class="govuk-body">There are currently:
        <span class="govuk-!-font-size-36 govuk-!-font-weight-bold govuk-!-margin-top-2 govuk-!-margin-bottom-2" style="display: block;">{{ optionCount }}</span>
        <span class="govuk-body">options</span>
      </p>
      <a href="search-results?type=Option" role="button" draggable="false" class="govuk-button  govuk-!-margin-top-2 govuk-!-margin-bottom-8"  data-module="govuk-button">See all options</a>
    </div>
  </div>

  <div class="govuk-grid-column-one-third">
    <div style="background-color: #f0f0f0; padding: 1.5em">
      <h3 class="govuk-heading-m">Capital items</h3>
      <p class="govuk-body">There are currently:
        <span class="govuk-!-font-size-36 govuk-!-font-weight-bold govuk-!-margin-top-2 govuk-!-margin-bottom-2" style="display: block;">{{ capitalCount }}</span>
        <span class="govuk-body">capital items</span>
      </p>
      <a href="search-results?type=Capital%20Item" role="button" draggable="false" class="govuk-button  govuk-!-margin-top-2 govuk-!-margin-bottom-8"  data-module="govuk-button">See all capital items</a>
    </div>
  </div>

  <div class="govuk-grid-column-one-third">
    <div style="background-color: #f0f0f0; padding: 1.5em">
      <h3 class="govuk-heading-m">Supplements</h3>
      <p class="govuk-body">There are currently:
        <span class="govuk-!-font-size-36 govuk-!-font-weight-bold govuk-!-margin-top-2 govuk-!-margin-bottom-2" style="display: block;">{{ supplementCount }}</span>
        <span class="govuk-body">supplements</span>
      </p>
      <a href="search-results?type=Supplement" role="button" draggable="false" class="govuk-button  govuk-!-margin-top-2 govuk-!-margin-bottom-8"  data-module="govuk-button">See all supplements</a>
    </div>
  </div>
</div>

{% endblock %}
