{% extends "layout.html" %}

{% block pageTitle %}
  Your local priorities
{% endblock %}

{% block header %}
  {{ govukHeader({
    homepageUrl: "/",
    serviceName: serviceName,
    serviceUrl: "/",
    containerClasses: "govuk-width-container",
    navigation: [
      {
        href: "local-priorities",
        text: "Your priorities",
        active: true
      },
      {
        href: "search-results",
        text: "Search all grants",
        active: true
      },
      {
        href: "plan",
        text: "View your plan",
        active: true
      }
    ]
  }) }}
{% endblock %}

{% block beforeContent %}
  <a href="land-use" class="govuk-back-link">Back</a>

{% endblock %}

{% block content %}

<style type="text/css">
    .govuk-grid-column-full {
      position: relative;
    }
    #summaryToggle {
      /*float: right;*/
      position: absolute;
      right: 15px;
      top: -20px;
    }
    #summaryToggle .govuk-accordion__icon {
      position: absolute;
      top: 50%;
      left: -20px;
      width: 12px;
      height: 12px;
      margin-top: -6px;
    }
    #summaryToggle .govuk-accordion__icon.hidden::after {
      height: 0% !important;
    }
    #summaryToggle .govuk-accordion__icon::before,
    #summaryToggle .govuk-accordion__icon::after {
      border: 1px solid transparent !important;
    }
    #summaryToggle .govuk-accordion__icon:after {
      height: 100% !important;
    }
</style>

<div class="govuk-grid-row">
  <div class="govuk-grid-column-two-thirds">
    <h1 class="govuk-heading-xl">
      Your local priorities
    </h1>
  </div>
</div>

<div class="govuk-grid-row">

    <div class="govuk-grid-column-full">
      <p>Based on your location and land use these are the highest scoring management options and capital items.</p>
      <p class="govuk-!-margin-bottom-9"><a href="land-use">Change your land use</a></p>

      <div class="govuk-!-padding-top-10" style="position: relative;">
        <div id="summaryToggle" class=""><a href="#">Show grant details</a><span class="govuk-accordion__icon"></span></div>
      </div>

      {# loop through all the priority categories  #}
      {% for j in range(0, finalPriorityList.length) -%}

        {# only render the category if it has items inside it #}
        {% if finalPriorityList[j][1].length%}

          <h2 class="govuk-heading-l govuk-!-margin-bottom-2">{{ finalPriorityList[j][0] }}</h2>
          <p>{{ data.import.priorities[j].summary }}</p>

          <table class="govuk-table">

            <thead class="govuk-table__head">
            <tr class="govuk-table__row">
              <th scope="col" class="govuk-table__header">Grant</th>
              <th scope="col" class="govuk-table__header" style="width: 150px;">Type</th>
              <th scope="col" class="govuk-table__header" style="width: 150px;">Value</th>
            </tr>
            </thead>
            <tbody class="govuk-table__body">

            {# loop through each of the items in the priority group #}
            {% for i in range(0, finalPriorityList[j][1].length) -%}

            <tr class="govuk-table__row">
              <td scope="row" class="govuk-table__cell">
                <a href="grant-details?grant={{ finalPriorityList[j][1][i] }}">{{ data.import.grants[finalPriorityList[j][1][i]].code }} {{ data.import.grants[finalPriorityList[j][1][i]].title }}</a>
                <div class="grantSummary" style="display: none;margin-top: 20px;margin-bottom: 20px;">{{ data.import.grants[grantList[i]].summary }}</div>
              </td>
              <td class="govuk-table__cell" style="width: 100px;">{{ data.import.grants[finalPriorityList[j][1][i]].type }}</td>
              <td class="govuk-table__cell" style="width: 100px;">{{ data.import.grants[finalPriorityList[j][1][i]].payment | toMoney }} per {{ data.import.grants[finalPriorityList[j][1][i]].measure }}</td>
            </tr>

            {%- endfor %}

          </tbody>
        </table>

        {% endif %}

      {%- endfor %}

    </div>

</div>


{% endblock %}
